<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="IdentityServer Storage" value="./src/Storage/artifacts/" />
    <add key="IdentityServer IdentityServer4" value="./src/IdentityServer4/artifacts/" />
    <add key="IdentityServer Storage" value="./src/Storage/artifacts/" />
    <add key="IdentityServer EF Storage" value="./src/EntityFramework.Storage/artifacts/" />
    <add key="IdentityServer EF" value="./src/EntityFramework/artifacts/" />
    <add key="IdentityServer Asp" value="./src/AspNetIdentity/artifacts/" />
    <add key="Identity Model" value="../IdentityModel/artifacts/" />
  </packageSources>
</configuration>