[*.cs]
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA1859.severity = none
dotnet_diagnostic.CA1860.severity = none
dotnet_diagnostic.CA1051.severity = none
dotnet_diagnostic.CA1707.severity = none
dotnet_diagnostic.CA1727.severity = none
dotnet_diagnostic.CA1727.severity = none
dotnet_diagnostic.CA2254.severity = none
dotnet_diagnostic.CA2201.severity = none
dotnet_diagnostic.CA1716.severity = none
dotnet_diagnostic.CA2253.severity = none
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1863.severity = none
dotnet_diagnostic.CA2208.severity = none