[*.cs]
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA1859.severity = none
dotnet_diagnostic.CA1860.severity = none
dotnet_diagnostic.CA1051.severity = none